.prod-page {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prod-details {
  margin-bottom: 15px;
}

.prod-header {
  text-align: center;
  font-size: 40px;
}

.prod-image {
  max-width: 300px;
  border-radius: 5px;

}

.prod-price {
  text-align: center;
  font-size: 30px;
}

.prod-desc {
  font-family: 'Courier New', monospace;
  padding: 10px;
  text-align: justify;
}

.prod-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sf-buybutton {
  max-width: 250px;
}

@media only screen and (max-width: 900px) {
  .prod-main {
    flex-direction: column;
  }
}

.prod-back {
  background-color: #516678;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 60%;
  height: 50px;
}
.prod-back:hover {
  background-color: #708DA6;
  filter: drop-shadow(10px 10px 12px black);
}
.prod-back:active {
  transform: translateY(4px);
}

